if !state_obj.pdf
   #headerDiv

      br

      .flex-header-container
         .flex-header-item#selectButtonItem
            .btn.btn-primary.btn.flex-btn(onclick='controller.select()')
               span.i.fa.fa-th-large.fa-fw
               span #{" "} Change Report

         .flex-header-item#selectButtonItem
            .btn-group
               .btn.btn-primary.btn.flex-btn(onclick='controller.zoom(1.1)')
                  span.i.fa.fa-search-plus.fa-fw
                  span #{" "} Zoom In
               .btn.btn-primary.btn.flex-btn(onclick='controller.zoom(0.9)')
                  span.i.fa.fa-search-minus.fa-fw
                  span #{" "} Zoom Out
               .btn.btn-primary.btn.flex-btn(onclick='controller.zoom(-1)')
                  span.i.fa.fa-refresh.fa-fw
                  span #{" "} Reset

         .flex-header-item#shareButtonItem
            .btn.btn-primary.btn.flex-btn(onclick='controller.share()')
               span.i.fa.fa-share-alt.fa-fw
               span #{" "} Share

         .flex-header-item#pdfButtonItem
            .dropdown
               button.btn.btn-primary.btn.flex-btn.dropdown-toggle(data-toggle="dropdown")
                  span.i.fa.fa-file-pdf-o.fa-fw
                  span #{" "} PDF #{" "}
                  span.caret
               ul.dropdown-menu
                  li
                     a(onclick="controller.pdf('colorscale')") Color
                  li
                     a(onclick="controller.pdf('greyscale')") Greyscale

         .flex-header-item#introButtonItem
            .btn.btn-primary.btn.flex-btn(onclick="controller.welcome()")
               span.i.fa.fa-reply.fa-fw
               span #{" "} Return to the introduction
         .flex-header-item#sourceButtonItem
            .btn.btn-primary.btn.flex-btn(onclick="controller.source()")
               span.i.fa.fa-info-circle.fa-fw
               span #{" "} Source

      br