extends layout
block content

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/flexStyleIndicator.css')

    script.
        var config_obj = !{JSON.stringify(config_obj)};
        var data_obj = !{JSON.stringify(data_obj)};
        var state_obj = !{JSON.stringify(state_obj)};

    script(src="/javascripts/components.js")
    script(src="/javascripts/controller.js")

    script(src="/javascripts/indicatorheader.js")
    script(src="/javascripts/densitygraph.js")
    script(src="/javascripts/wessexmap.js")
    script(src="/javascripts/areafacts.js")
    script(src="/javascripts/bargraph.js")
    script(src="/javascripts/multilinegraph.js")


    script(src="/javascripts/init_indicator.js")


    script.
        getPage = function(){

            var inArr = ["areaTypeSelect", "indicatorTypeSelect","genderTypeSelect"];
            var outArr =[];

            for(var i in inArr){
                var e = document.getElementById(inArr[i]);
                outArr[i] = e.options[e.selectedIndex].value;
            }

            var path = window.location.protocol + "//" + window.location.host + "/IndicatorReport/" + outArr[0] + "/" + outArr[1] + "/" + outArr[2]

            console.log(path)

            window.location.href = path;
        }

        select = function(){

                console.log(state_obj)

                var path = window.location.protocol + "//" + window.location.host + "/select/"
                    + encodeURIComponent(state_obj.reportType) + "/"
                    + encodeURIComponent(state_obj.areaType) + "/"
                    + encodeURIComponent(state_obj.indicatorArr[0]) + "/"
                    + encodeURIComponent(state_obj.genderArr[0]) + "/"
                    + encodeURIComponent(state_obj.current_area) + "/";

                console.log(path)
                window.location.href = path;


        }



    .flex-group
        .flex-header-container

            .flex-header-item#selectButtonItem
                .btn.btn-default.btn-lg.flex-btn#selectButton(onclick='select()')
                    span.i.fa.fa-th-large.fa-fw
                    span #{" "} Change Report

            //.flex-header-item#selectButtonItem
            //    .btn.btn-default.btn-lg.flex-btn#selectButton(onclick='select()')
            //        span.i.fa.fa-file-pdf-o.fa-fw
            //        span #{" "} PDF
            //
            //.flex-header-item#selectButtonItem
            //    .btn.btn-default.btn-lg.flex-btn#selectButton(onclick='select()')
            //        span.i.fa.fa-arrow-down.fa-fw
            //        span #{" "} CSV



        .flex-container.full_items
            .flex-item.full_item#headerItem
            .flex-item.full_item#densitygraphItem
            .flex-item.full_item#wessexmapItem
            .flex-item.full_item#areafactsItem
            .flex-item.full_item#bargraphItem
            .flex-item.full_item#multilinegraphItem
