extends layout
block content

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/flexStyleIndicator.css')

    script.
        var config_obj = !{JSON.stringify(config_obj)};
        var data_obj = !{JSON.stringify(data_obj)};
        var state_obj = !{JSON.stringify(state_obj)};

    script(src="/javascripts/components.js")
    script(src="/javascripts/controller.js")

    script(src="/javascripts/areaheader.js")
    script(src="/javascripts/indicatorwidget.js")

    script(src="/javascripts/init_area.js")



    .flex-group
        .flex-header-container
            .flex-header-item#selectButtonItem
                .btn.btn-primary.btn.flex-btn(onclick='controller.select()')
                    span.i.fa.fa-th-large.fa-fw
                    span #{" "} Change Report
            //.flex-header-item#selectButtonItem
            //    .btn-group
            //        .btn.btn-primary.btn.flex-btn(onclick='controller.zoom(1.1)')
            //            span.i.fa.fa-search-plus.fa-fw
            //            span #{" "} Zoom In
            //        .btn.btn-primary.btn.flex-btn(onclick='controller.zoom(0.9)')
            //            span.i.fa.fa-search-minus.fa-fw
            //            span #{" "} Zoom Out
            //        .btn.btn-primary.btn.flex-btn(onclick='controller.zoom(-1)')
            //            span.i.fa.fa-refresh.fa-fw
            //            span #{" "} Reset
            .flex-header-item#shareButtonItem
                .btn.btn-primary.btn.flex-btn(onclick='controller.share()')
                    span.i.fa.fa-share-alt.fa-fw
                    span #{" "} Share
            .flex-header-item#introButtonItem
                .btn.btn-primary.btn.flex-btn(onclick="controller.welcome()")
                    span.i.fa.fa-reply.fa-fw
                    span #{" "} Return to the introduction
            .flex-header-item#sourceButtonItem
                .btn.btn-primary.btn.flex-btn(onclick="controller.source()")
                    span.i.fa.fa-info-circle.fa-fw
                    span #{" "} Source



        .flex-container.double_items

            .flex-item.double_item#wi0Item
            .flex-item.double_item#wi1Item
            .flex-item.double_item#wi2Item
            .flex-item.double_item#wi3Item
            .flex-item.double_item#wi4Item


    .report_footer
        hr
        br
        p This app was built by #{" "}
            span.nqminds_text
                a(href="http://nqminds.com", target="blank") nquiringminds
        #logos
            img(src='/images/wahsn_logo.png').img_logo
            img(src='/images/cis_logo.png').img_logo
            img(src='/images/nqm_logo.png').img_nqm
            img(src='/images/soto_logo.png').img_logo
        p The data was sourced from Fingertips profile tools. Crown copyright &#169 2016. Fingertips was designed and developed by the Fingertips team at Public Health England. Available at #{" "}
            span
                a(href="http://fingertips.phe.org.uk", target="blank") http://fingertips.phe.org.uk