extends layout
block content

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/flexStyleIndicator.css')

    script.
        var config_obj = !{JSON.stringify(config_obj)};
        var data_obj = !{JSON.stringify(data_obj)};
        var state_obj = !{JSON.stringify(state_obj)};

    script(src="/javascripts/components.js")
    script(src="/javascripts/controller.js")

    script(src="/javascripts/areaheader.js")
    script(src="/javascripts/indicatorwidget.js")

    script(src="/javascripts/init_area.js")


    script.
        select = function () {
                    console.log(state_obj)
                    var path = window.location.protocol + "//" + window.location.host + "/select/"
                            + encodeURIComponent(state_obj.reportType) + "/"
                            + encodeURIComponent(state_obj.areaType) + "/"
                            + encodeURIComponent(state_obj.indicatorArr[0]) + "/"
                            + encodeURIComponent(state_obj.genderArr[0]) + "/"
                            + encodeURIComponent(state_obj.current_area) + "/";
                    console.log(path)
                    window.location.href = path;
                }

        share = function () {
                    console.log(state_obj)
                    var path = window.location.protocol + "//" + window.location.host + "/share/"
                            + encodeURIComponent(state_obj.reportType) + "/"
                            + encodeURIComponent(state_obj.areaType) + "/"
                            + encodeURIComponent(state_obj.indicatorArr[0]) + "/"
                            + encodeURIComponent(state_obj.genderArr[0]) + "/"
                            + encodeURIComponent(state_obj.current_area) + "/";
                    console.log(path)
                    window.location.href = path;
                }





    .flex-group
        .flex-header-container

            .flex-header-item#selectButtonItem
                .btn.btn-default.btn-lg.flex-btn#selectButton(onclick='select()')
                    span.i.fa.fa-th-large.fa-fw
                    span #{" "} Change Report

            .flex-header-item#shareButtonItem
                .btn.btn-default.btn-lg.flex-btn#selectButton(onclick='share()')
                    span.i.fa.fa-share-alt.fa-fw
                    span #{" "} Share



            //.flex-header-item#selectButtonItem
            //    .btn.btn-default.btn-lg.flex-btn#selectButton(onclick='select()')
            //        span.i.fa.fa-file-pdf-o.fa-fw
            //        span #{" "} PDF
            //.flex-header-item#selectButtonItem
            //    .btn.btn-default.btn-lg.flex-btn#selectButton(onclick='select()')
            //        span.i.fa.fa-arrow-down.fa-fw
            //        span #{" "} CSV



        .flex-container.double_items

            .flex-item.double_item#wi0Item
            .flex-item.double_item#wi1Item
            .flex-item.double_item#wi2Item
            .flex-item.double_item#wi3Item
            .flex-item.double_item#wi4Item

